@keyframes iniBoxPop {
  0% {
    transform: scale3d(1, 1, 1);    
  }36% {
   transform: scale3d(1.17, 0.72, 1);

  }42% {
    transform: scale3d(0.72, 1.17, 1.18);
  
  }51% {
    transform: scale3d(1.17, 0.81, 1);
  
  }63% {
    transform: scale3d(0.9, 1.08, 1.18);

  }72% {
    transform: scale3d(1.08, 0.9, 1);

  }100% {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes iniIvalidBox{
  0%{
    transform: rotateX(-30deg) translateX(30vw) skewX(30deg);
    opacity: 0;
  }20%{
    opacity: 1;
  }100%{
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    
  }
}

// @keyframes viewItemHover{
//   0% {
//     transform: rotateX(15deg);
//     transform-origin: 0px -20vmin;   

//   }50% {
//     transform-origin: 0px 20vmin; 
//     transform: rotateX(-15deg);
//   }100% {
//     transform: rotateX(15deg);
//     transform-origin: 0px -20vmin;   

//   } 

// }


