.boxView{
  @include flexCenter(flex-start,center);
  flex-direction:center;
  flex-wrap: wrap;
  @include boxContainer(10vw, 10vh,  0.45vmin);
  width: max-content;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
  max-height:100vh;
  padding: 1.8vh 0vw;
}


.viewItem{
  @include boxContainer(10vw, 10vh,  0.45vmin);
  @include backgroundBlur(#ffffffa8, 1.5vmin);
  @include boxShadow( 5vmin ,#0707078a);
  @include flexCenter(flex-start);
  flex-direction:column;
  animation: iniBoxPop 1s linear;  

  margin: 5vh 2vw;

  

  &:hover,&:focus{
    animation: viewItemHover 1.8s infinite;  

  }

  .titleView{
    @include flexCenter();
    @include fontDefault($primary-color, 2.4vh);
    margin: 1.8vmin;
    margin-bottom: 0vmin;
  
  }

  .contentView{
    margin: 1.8vmin;
    @include flexCenter();
    @include fontDefault(rgb(0, 0, 0), 2.1vh);
  }


}

