.floatBox{
  position: absolute;
  top:5vh;
}

.invalidBox{
  @include flexCenter();
  margin: 2.1vmin;


  @include backgroundBlur(rgba(255, 28, 28, 0.842));

  border-radius: 0.45vmin;

  animation: iniIvalidBox 0.45s  linear ;  

  @include boxShadow(3vmin, rgb(46, 46, 46));

  .invalidSpam{
    @include fontDefault(#fff);
    margin: 2.1vmin;
  
  }
}
#RG{
  animation: iniIvalidBox 0.63s  linear ;  

}