/* styles */
* {
  margin: 0%;
  padding: 0%;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1d7783;
  background-image: url(/img/wall/abstract.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0s;
  transition: 0s;
  font-family: "comfortaa";
  color: #1d7783;
  font-size: 2vh;
}

@font-face {
  font-family: "comfortaa";
  src: url("../../fonts/comfortaa/static/Comfortaa-VariableFont_wght.ttf");
  src: url("../../fonts/Comfortaa/regular/Comfortaa-Regular.woff") format("woff"), url("../../fonts/Comfortaa/regular/Comfortaa-Regular.svg") format("svg");
}

input, select {
  outline: 0;
  border: none;
  background-color: none;
}

input:hover, input:focus, select:hover, select:focus {
  outline: 0;
  border: none;
  background-color: none;
}

::-moz-selection {
  background-color: #1d7783;
  color: #fff;
}

::selection {
  background-color: #1d7783;
  color: #fff;
}

@-webkit-keyframes iniBoxPop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  36% {
    -webkit-transform: scale3d(1.17, 0.72, 1);
            transform: scale3d(1.17, 0.72, 1);
  }
  42% {
    -webkit-transform: scale3d(0.72, 1.17, 1.18);
            transform: scale3d(0.72, 1.17, 1.18);
  }
  51% {
    -webkit-transform: scale3d(1.17, 0.81, 1);
            transform: scale3d(1.17, 0.81, 1);
  }
  63% {
    -webkit-transform: scale3d(0.9, 1.08, 1.18);
            transform: scale3d(0.9, 1.08, 1.18);
  }
  72% {
    -webkit-transform: scale3d(1.08, 0.9, 1);
            transform: scale3d(1.08, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes iniBoxPop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  36% {
    -webkit-transform: scale3d(1.17, 0.72, 1);
            transform: scale3d(1.17, 0.72, 1);
  }
  42% {
    -webkit-transform: scale3d(0.72, 1.17, 1.18);
            transform: scale3d(0.72, 1.17, 1.18);
  }
  51% {
    -webkit-transform: scale3d(1.17, 0.81, 1);
            transform: scale3d(1.17, 0.81, 1);
  }
  63% {
    -webkit-transform: scale3d(0.9, 1.08, 1.18);
            transform: scale3d(0.9, 1.08, 1.18);
  }
  72% {
    -webkit-transform: scale3d(1.08, 0.9, 1);
            transform: scale3d(1.08, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes iniIvalidBox {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(30vw) skewX(30deg);
            transform: rotateX(-30deg) translateX(30vw) skewX(30deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
  }
}

@keyframes iniIvalidBox {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(30vw) skewX(30deg);
            transform: rotateX(-30deg) translateX(30vw) skewX(30deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
  }
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  border-radius: 0.18vmin;
  background-color: #dadadac7;
  -webkit-backdrop-filter: blur(1vmin);
          backdrop-filter: blur(1vmin);
  -webkit-box-shadow: 0 0 9vmin #505050;
          box-shadow: 0 0 9vmin #505050;
  -webkit-animation: iniBoxPop 1s linear;
          animation: iniBoxPop 1s linear;
  padding-top: 1.8vmin;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.9vh 3.6vw;
  width: 81%;
}

.line .label {
  width: 100%;
  font-family: "comfortaa";
  color: #1d7783;
  font-size: 2vh;
  margin: 0.6vmin 0vmin;
  font-weight: 900;
}

.line .placeInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 0.4vmin;
}

.line .placeInput .inputText {
  width: 100%;
  background-color: transparent;
  text-align: center;
  font-family: "comfortaa";
  color: #000;
  font-size: 2vh;
  margin-top: 0.4vmin;
}

.line .placeInput .inputText:hover ~ .underlineAnimated, .line .placeInput .inputText:focus ~ .underlineAnimated {
  width: 100%;
  -webkit-box-shadow: 0 0 4vmin 0.3vmin #1d7783;
          box-shadow: 0 0 4vmin 0.3vmin #1d7783;
}

.line .placeInput .inputText:required:valid {
  width: 100%;
  background-color: transparent;
  text-align: center;
  font-family: "comfortaa";
  color: #000;
  font-size: 2vh;
  margin-top: 0.4vmin;
}

.line .placeInput .inputText:required:valid:hover ~ .underlineAnimated, .line .placeInput .inputText:required:valid:focus ~ .underlineAnimated {
  width: 100%;
  -webkit-box-shadow: 0 0 4vmin 0.3vmin #1d7783;
          box-shadow: 0 0 4vmin 0.3vmin #1d7783;
}

.line .placeInput .inputText:required:invalid {
  width: 100%;
  background-color: transparent;
  text-align: center;
  font-family: "comfortaa";
  color: #e04203;
  font-size: 2vh;
  margin-top: 0.4vmin;
}

.line .placeInput .inputText:required:invalid:hover ~ .underlineAnimated, .line .placeInput .inputText:required:invalid:focus ~ .underlineAnimated {
  width: 100%;
  background-color: #e04203;
  -webkit-box-shadow: 0 0 4vmin 0.3vmin #e04203;
          box-shadow: 0 0 4vmin 0.3vmin #e04203;
}

.line .placeInput .underlineAnimated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.4vmin;
  border-radius: 0.9vmin;
  width: 0%;
  background-color: #1d7783;
}

.line .placeInput:hover .inputText:required:valid ~ .underlineAnimated, .line .placeInput:hover .underlineAnimated {
  width: 100%;
  -webkit-box-shadow: 0 0 4vmin 0.3vmin #1d7783;
          box-shadow: 0 0 4vmin 0.3vmin #1d7783;
}

.line .placeInput:hover .inputText:required:invalid ~ .underlineAnimated {
  background-color: #e04203;
  width: 100%;
  -webkit-box-shadow: 0 0 4vmin 0.3vmin #e04203;
          box-shadow: 0 0 4vmin 0.3vmin #e04203;
}

.buttonLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.9vh 3.6vw;
  width: 81%;
  margin-bottom: 2.1vmin;
  margin-top: 0.9vmin;
}

.buttonLine .buttonForm {
  border: 0.27vmin solid #1d7783;
  background-color: #ffffffdc;
  font-family: "comfortaa";
  color: #1d7783;
  font-size: 1.8vh;
  padding: 0.36vmin 0.18vmin;
  width: 100%;
  border-radius: 0.4vmin;
  cursor: pointer;
  font-weight: 900;
}

.buttonLine .buttonForm:hover, .buttonLine .buttonForm:focus {
  font-weight: 200;
  background-color: #1d7783;
  color: #fff;
  border-radius: 0vmin;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 1.8vmin #1d7783;
          box-shadow: 0 0 1.8vmin #1d7783;
}

select * {
  margin: 0;
  background-color: #dadadac7;
  -webkit-backdrop-filter: blur(1vmin);
          backdrop-filter: blur(1vmin);
}

.boxView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 10vw;
  min-height: 10vh;
  border-radius: 0.45vmin;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
  padding: 1.8vh 0vw;
}

.viewItem {
  min-width: 10vw;
  min-height: 10vh;
  border-radius: 0.45vmin;
  background-color: #ffffffa8;
  -webkit-backdrop-filter: blur(1.5vmin);
          backdrop-filter: blur(1.5vmin);
  -webkit-box-shadow: 0 0 5vmin #0707078a;
          box-shadow: 0 0 5vmin #0707078a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: iniBoxPop 1s linear;
          animation: iniBoxPop 1s linear;
  margin: 5vh 2vw;
}

.viewItem:hover, .viewItem:focus {
  -webkit-animation: viewItemHover 1.8s infinite;
          animation: viewItemHover 1.8s infinite;
}

.viewItem .titleView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "comfortaa";
  color: #1d7783;
  font-size: 2.4vh;
  margin: 1.8vmin;
  margin-bottom: 0vmin;
}

.viewItem .contentView {
  margin: 1.8vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "comfortaa";
  color: black;
  font-size: 2.1vh;
}

.floatBox {
  position: absolute;
  top: 5vh;
}

.invalidBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.1vmin;
  background-color: rgba(255, 28, 28, 0.842);
  -webkit-backdrop-filter: blur(1vmin);
          backdrop-filter: blur(1vmin);
  border-radius: 0.45vmin;
  -webkit-animation: iniIvalidBox 0.45s  linear;
          animation: iniIvalidBox 0.45s  linear;
  -webkit-box-shadow: 0 0 3vmin #2e2e2e;
          box-shadow: 0 0 3vmin #2e2e2e;
}

.invalidBox .invalidSpam {
  font-family: "comfortaa";
  color: #fff;
  font-size: 2vh;
  margin: 2.1vmin;
}

#RG {
  -webkit-animation: iniIvalidBox 0.63s  linear;
          animation: iniIvalidBox 0.63s  linear;
}
/*# sourceMappingURL=main.css.map */